@model CRM.Models.ADM_CLIENT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    @using (Html.BeginForm("Index", "Demo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        <div class="container">

            <div class="form-horizontal " style="border:inset dotted black">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Transition Date:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.TRAN_DATE, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.TRAN_DATE)

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Bus Type:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.BUS_TYPE, ViewBag.busstypelist as SelectList, "--select--", new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @*@Html.ValidationMessageFor(x => x.dep_name)*@

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Client Type:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.CLIENT_TYPE, ViewBag.clientypelist as SelectList, "--select--", new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @*@Html.ValidationMessageFor(x => x.dep_name)*@

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Branch:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.BRANCH, ViewBag.branhlist as SelectList, "--select--", new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @*@Html.ValidationMessageFor(x => x.BRANCH)*@

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Account Manager:</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.MARKET_MANAGER, ViewBag.AccManagerlist as SelectList, "--select--", new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @*@Html.ValidationMessageFor(x => x.MARKET_MANAGER)*@

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Name:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.NAME, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.NAME)

                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Address:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.ADDRESS, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.ADDRESS)

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">PHONE:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.PHONE, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.PHONE)

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">EMAIL:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.EMAIL)

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">CNIC:</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.CNIC, new { @class = "form-control" })
                    </div>
                    <div style="color:red">
                        @Html.ValidationMessageFor(x => x.CNIC)

                    </div>
                </div>

                <div class="form-group">

                    <div class="col-sm-12">

                        <input type="submit" value="Add" class="btn btn-success " />

                    </div>

                </div>



            </div>



        </div>
    }
</body>
</html>
